<div class="account_index">
  <h1>Hello, <%= current_user.username %>!</h1>
  <a class="logout shadow" href="/logout">Logout</a>
  <h2>You currently have <%= @accounts.count %> account(s).</h2>
  <h3><a class="add_account" href="/accounts/new">+ New Account</a></h3>

  <% if @accounts.count != 0 %>
    <h3 class="account_list">Account List</h3>
    <ul>
      <% @accounts.each do |account| %>
        <li class="account_item shadow">
          <a class="account_link" href="/accounts/<%= account.id %>">
            <p> <%= account.name %> </p>
            <p> Balance: $<%= sprintf "%.2f", account.balance %></p> 
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>